<!DOCTYPE html>
<html>
    <head>
        <title>TIM-BEAR</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <main>
            <%- include('header_admin') %>
            <div class="mt-5">
                <div class="container">
                    <div class="d-flex">
                        <h2 class="mb-5">Space</h2>
                    </div>
                    <h2 class="mt-5">Mantenimiento de partidas</h2>
                    <a class="btn btn-success my-4" href="/partida/new">Nuevo</a>
                    <table class="table table-hover mt-2">
                        <thead>
                            <tr>
                                <th>Juego</th>
                                <th>Fecha</th>
                                <th>Hora de inicio</th>
                                <th>Duracion</th>
                                <th>Equipo A</th>
                                <th>Empate</th>
                                <th>Equipo B</th>
                                <th>estado
                                    <span class="btn-group dropup">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-circle" viewBox="0 0 16 16">
                                                <path d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            </svg>
                                        </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="/partida/admin">Reset</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <%estados.forEach((estado)=> {%>
                                      <li><a class="dropdown-item" href="/partida/search?estado=<%=estado%>"><%=estado%></a></li>
                                      <%})%>
                                    </ul>
                                    </span>
                                  </th>
                                  <th>Resultado</th>
                                  <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% partidaLista.forEach((partida)=> {%>
                                <tr>
                                    <td><%= partida.juegoNombre %></td>
                                    <td><%= partida.fecha.toISOString().substring(0,10) %></td>
                                    <td><%= partida.hora%></td>
                                    <td><%= partida.duracion%></td>
                                    <td><%= partida.equipo1 %><div><%=partida.factor1%></div></td>
                                    <td>empate <div><%=partida.empate%></div></td>
                                    <td><%= partida.equipo2 %><div><%=partida.factor2%></div></td>
                                    <td><%= partida.estado %></td>
                                    <%if(partida.resultado!= "empate" && partida.resultado!= "pendiente"){%>
                                    <td>Gano <%=partida.resultado%></td>
                                    <%}else{%>
                                    <td><%=partida.resultado%></td>
                                    <%}%>
                                    <td>
                                        <a href="/partida/update/<%= partida.id%>" >Editar</a>
                                        <a href="/partida/delete/<%= partida.id%>" >Eliminar</a>
                                    </td>
                                </tr> 
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <%- include('Footer') %>
    </body>
</html>