<!DOCTYPE html>
<html>
    <head>
        <title>TIM-BEAR</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <main>
            <%- include('header_admin') %>
            <h2 class="mt-5">Modificar Banners</h2>
            <div>
                <a class="btn btn-success my-4" href="/banner/admin/new">Nuevo</a>
                <table class="table table-hover mt-2">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Url de pagina a vincular</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% banners.forEach((banner)=>{ %>
                            <tr>
                                <td><%= banner.id %></td>
                                <td><%= banner.nombre %></td>
                                <td><%= banner.imagen %></td>
                                <td><%= banner.URL %></td>
                                <td><%= banner.estado %></td>
                                
                                <td>
                                    <a href="/banner/admin/modificar/<%= banner.id %>" >Editar</a>
                                    
                                </td>
                            </tr>

                        <%}) %>
                            
                    </tbody>
                </table>
            </div>
            
        </main>
        <%- include('Footer') %>
    </body>
</html>