<!DOCTYPE html>
<html>

<head>
    <title>TIM-BEAR</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>

<body class="container">
    <main>
        <%- include('header_login') %>
            <div>
                <h2 class="mt-5"></h2>
                <h2 class="mb-1"></h2>
                <div class="mb-5"></div>
                <div>
                    <div class="row mt-10 mb-5">
                        <h2 class="col-3">Lista de Partidas</h2>
                        
                        
                        <!--APARTADO PARA FILTRAR CATEGORIAS-->
                        <div mt=5>
                            <form method="post" action="/partida/categoria" >
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                      Categoria:
                                    </a>
                                  
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/partida">Mostrar todos</a></li>
                                         <% categoria.forEach((categoria) => {  %>
                                        <li><a class="dropdown-item" href="/partida/categoria/<%=categoria.id%>"><%=categoria.nombre%></a></li>
                                     <% })%>

                                    </ul>
                                </div> 
                           
                            </form>

                        </div>

                       

                        <!--APARTADO PARA JUEGOS -->
                        <div class="mt-5">
                            <form method="get" action="/partida/juego">

                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <a class="navbar-brand" href="/partida">TODOS</a>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                      <div class="navbar-nav">
                                        <%juegos.forEach((juego) => {%>
        
                                        <a class="nav-item nav-link" href="/partida/juego/<%=juego.id%>"><%=juego.nombre%></a>
                                        <%})%>
        
                                         </div>
                                    </div>
                                </nav>

                            </form>
                    
                    </div>
                        
                        
                    </div>
                       
                </div>

                <!--Todo lo que tenga que ver con la lista de partidas y la parte de apuesta-->
                <div class="container-fluid">
                    <div class="row">
                        <!--Banner -->
                        <div class="col-3">

                            <%- include('Banners_default') %>
                            
                        </div>
                        <!-- Lista de partidas -->
                        <div class="col-6">
        
                            <table class="table">

                                <% partidaLista.forEach((partida)=> { %>
                                <thead>
                                        <tr>
                                            <th> 
                                                <h6><%= partida.juegoId%></h6>
                                                <%= partida.equipo1%> vs <%= partida.equipo2%>
                                                
                                            </th>
                                            <th>
                                                <h6 class="mx-5">
                                                    Fecha : <%= partida.fecha.toISOString().substring(0,10) %>
                                                    Hora  : <%= partida.hora%>
                                                    
                                                
                                                </h6>

                                            </th>
                                            <th>
                                            </th>
                                            
                                        </tr>

                                </thead>      
                                <tbody>
                                        <tr>
                                            
                                            
                                            <th>
                                               
                                                <button type="submit" class="ms-3 btn btn-dark btn-sm" name="factor1" value="#"><%= partida.equipo1%> : <%= partida.factor1%></button>

                                            </th>
                                            <th>
                                                <button type="submit" class=" mx-5 btn btn-dark btn-sm" name="Empate" value="#">empate : <%= partida.empate%></button>
                                            </th>
                                            <th>
                                                <button type="submit" class="ms-3 btn btn-dark btn-sm" name="factor2" value="#"><%= partida.equipo2%> : <%= partida.factor2%></button>
                                            </th>
                                        </tr>
                                </tbody>
                                <% }) %>
                                 
                            </table>
                           
                        </div>
                        <!--Fin Lista de partidas -->
                        <!--Aca deberia ir las apuestas-->
                        <div class="col-3"></div>

                    </div>

                </div>


            </div>
           
            

    </main>
    <%- include('Footer') %>
</body>

</html>
