<!DOCTYPE html>
<html>
    <head>
        <title>TIM-BEAR</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('header_admin') %>
        <div class="d-flex" style="height: 150px;"></div>
        <h2 class="mt-5">Editar Partida <%= partida.id%></h2>
        <form method="post" action="/partida/update">
            <div>
                <input name="partida_id" type="hidden" value="<%=partida.id%>">
                <label class="form-label">Juego:</label>
                <select name="partida_juego_id" class="form-select">
                    <option value="-1">------ Seleccione una opcion ------</option>
                    <% juegos.forEach((juego)=>{ %>
                        <%if (juego.id == partida.juegoId) {%>
                            <option selected value="<%= juego.id %>"><%= juego.nombre %></option>
                        <%} else {%>
                            <option value="<%= juego.id %>"><%= juego.nombre %></option>
                        <%}%>        
                    <% })%>
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Fecha:</label>
                <input name="partida_fecha" type="date" class="form-control" value="<%=partida.fecha.toISOString().substring(0,10)%>"/>
            </div>
            <div class="mb-2">
                <label class="form-label">Hora:</label>
                <input name="partida_hora" type="time" class="form-control" value="<%=partida.hora%>"/>
            </div>
            <div>
                <label class="form-label">Duracion(minutos):</label>
                <input name="partida_duracion" type="number" class="form-control" value="<%=partida.duracion%>"/>
            </div>
            <div>
                <label class="form-label">Equipo1:</label>
                <input name="partida_equipo1" type="text" class="form-control" value="<%=partida.equipo1%>"/>
            </div>
            <div>
                <label class="form-label">Equipo2:</label>
                <input name="partida_equipo2" type="text" class="form-control" value="<%=partida.equipo2%>"/>
            </div>
            <div>
                <label class="form-label">Factor1:</label>
                <input name="partida_factor1" type="number" class="form-control" value="<%=partida.factor1%>"/>
            </div>
            <div>
                <label class="form-label">Empate:</label>
                <input name="partida_empate" type="number" class="form-control" value="<%=partida.empate%>"/>
            </div>
            <div>
                <label class="form-label">Factor2:</label>
                <input name="partida_factor2" type="number" class="form-control" value="<%=partida.factor2%>"/>
            </div>
            <div>
                <label class="form-label">estado:</label>
                <select id="selectEstado" name="partida_resultado" class="form-select">
                    <option value="-1">------ Seleccione una opcion ------</option>
                    <% estados.forEach((estado)=>{%>
                        <%if (estado == partida.estado) {%>
                            <option selected value="<%=estado%>"><%= estado %></option>
                        <%} else {%>
                            <option value="<%=estado%>"><%=estado%></option>
                        <%}%>        
                    <% })%>
                </select>
            </div>
            <div>
                <label class="form-label">Resultado:</label>
                <select id="selectResultado" name="partida_resultado" class="form-select">
                    <option value="-1">------ Seleccione una opcion ------</option>
                        <% resultados.forEach((resultado) => { console.log(partida.resultado)%>
                            <%if(resultado == partida.resultado){%>
                                <%if(resultado!="empate" && resultado!="pendiente"){%>
                                    <option selected value="<%=resultado%>">Gano <%=resultado%></option>
                                <%}else{%>
                                    <option selected value="<%=resultado%>"><%=resultado%></option>
                                <%}%>
                            <%}else{%>
                                <%if(resultado!="empate" && resultado!="pendiente"){%>
                                    <option value="<%=resultado%>">Gano <%=resultado%></option>
                                <%}else{%>
                                    <option value="<%=resultado%>"><%=resultado%></option>
                                <%}%>
                            <%}%>
                        <%})%>    
                </select>
            </div>            
           
            <button type="submit" class="my-2 btn btn-success">Guardar</button>
        </form>

        <%- include('footer') %>
        <script src="/js/Partida_new.js"></script>
    </body>
</html>